*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.im{
    border-radius: 50px;
}
.nav-item a:hover{
    background-color: black;
    color: red;
    border-radius: 50px;

}
.carousel-item{
    height: 100vh;
}
.car{
    color: red;
}
.g{
    position: relative;

}
.gg{
    position: absolute;
    background-color: green;
    top: 13px;
    left: 6px;
    border-radius: 7px;
    color: white;
    padding: 5px 4px;
}