.ul {

list-style-type: lower-roman;

display: flex; 
gap: 30px;
background-color: blue;

justify-content: flex-end;
align-items: flex-end;


}
a{
    text-decoration: none;
  font-size: 2rem;
}
.table, td, th{

border: 3px solid green;
border-collapse: collapse;

}
.table{
width: 400px;

}


.table1{

  border: 3px solid red;
  border-collapse: collapse;
width: 400px;


}